@model IEnumerable<RailConnect.Models.StanicaPolazakViewModel>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-color: antiquewhite
    }
</style>

<h1>Stanice</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" asp-route-gradId="@ViewBag.gradId">Create New</a>
    <br></br>
    <a asp-action="Index" asp-controller="Grad" class="btn btn-primary">Gradovi</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Grad Naziv
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Naziv
                </td>
                <td>
                    @item.GradNaziv
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdStanicaPolazak">Edit</a>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.IdStanicaPolazak">Details</a> 
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdStanicaPolazak">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
