@model RailConnect.Models.StanicaPutovanjeViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Da li ste sigurni da želite obrisati ovo?</h3>
<div>
    <h4>Stanica-Putovanje</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdPutovanje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPutovanje)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StanicaDolazakNaziv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StanicaDolazakNaziv)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdStanicaPutovanje" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" asp-route-putovanjeId="@ViewBag.PutovanjeId" asp-route-mjestoPolaska="@ViewBag.MjestoPolaska" class="btn btn-primary">Back to List</a>

    </form>
</div>
