@model IEnumerable<RailConnect.Models.StanicaPutovanjeViewModel>

@{
    ViewData["Title"] = "Index";
} 
<style>
    body {
        background-color: antiquewhite
    }
</style>

<h1>Stanice</h1>

<p>
    @if (User.IsInRole("Administrator") || User.IsInRole("Zaposlenik"))
    {
        <a asp-action="Create" class="btn btn-primary" asp-route-putovanjeId="@ViewBag.PutovanjeId">Create New</a>

    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPutovanje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StanicaDolazakNaziv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPutovanje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StanicaDolazakNaziv)
                </td>
                <td>
                    <a href="/Karta/Create?putovanjeId=@ViewBag.PutovanjeId&idStanicaPolazak=@ViewBag.MjestoPolaska&idStanicaDolazak=@item.IdStanicaDolazak" class="btn btn-primary">Kupi kartu</a>

                    @if (User.IsInRole("Administrator") || User.IsInRole("Zaposlenik"))
                    {
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdStanicaPutovanje">Edit</a>
                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.IdStanicaPutovanje">Details</a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdStanicaPutovanje">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
