@model IEnumerable<RailConnect.Models.RecenzijaViewModel>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-color: antiquewhite
    }
</style>

<h1>Recenzije</h1>

<p>
    <a asp-action="Create" asp-route-putovanjeId="@ViewBag.PutovanjeId" class="btn btn-primary">Create New</a>
    <br></br>
    <a asp-action="Index" asp-controller="Putovanje" class="btn btn-primary">Back to List</a>


</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PutovanjeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Ocjena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Komentar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prezime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PutovanjeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ocjena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Komentar)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdRecencija" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.IdRecencija" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.IdRecencija" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
